{% if verb , adverb , adjective , noun %}
  <h1>American Beauty</h1>
  <h3>Verb {{ verb }}!</h3>
  <h3>Adverb {{ adverb }}!</h3>
  <h3>Adjective {{ adjective }} !</h3>
  <h3>Noun {{ noun }}!</h3>
 <div>
 I had always heard your entire life flashes in front of your 
 eyes the second before you die. First of all, that one second 
 isn't a second at all. It stretches on forever, like an ocean 
 of time. For me, it was lying on my back at Boy Scout Camp, 
 watching {{verbing}} stars. And {{color}} leaves from the maple trees 
 that lined our street. Or my {{family members}}'s hands, and the way 
 her skin seemed like paper. And the first time I saw my cousin 
 Tony's brand new {{type of car}}. And Janie, and Janie. And Carolyn. 
 I guess I could be pretty pissed off about what happened to me, 
 but it's hard to stay mad when there's so much beauty in the world. 
 Sometimes I feel like I'm seeing it all at once, and it's too much. 
 My {{bodyorgan}} fills up like a {{noun}} that's about to burst. And then 
 I remember to relax, and stop trying to hold on to it, and then 
 it flows through me like rain, and I can't feel anything but 
 gratitude for every single moment of my stupid little life. You 
 have no idea what I'm talking about, I'm sure. But don't worry. 
 You will someday.
</div>
</body>
  
{% else %}
<body>
  <h2>Welcome to</h2>
  <h1>MadLibs</h1>
<label>You must fill in all inputs</label>
</body>

{% endif %}