
{% if verb , adverb , adjective , noun %}
  <h1>Breakfast Club</h1>
  <br/>
  <br/>
 <div>
  Dear Mr. {{noun}}, we accept the fact that we had to 
  sacrifice a whole Saturday in detention for whatever 
  it was we did wrong. But we think you’re {{adjective}} for 
  making us write an essay telling you who we think we 
  are. You see us as you want to see us… In the {{adjective}} 
  terms, in the most {{adjective}} definitions. But what we 
  found out is that each one of us is a {{noun}}, and an 
  {{noun}}, and a basket case, a {{noun}}, and a criminal… 
  Does that answer your question? {{adverb}} yours, 
  the {{noun}} Club.
</div>
</body>
  
{% else %}
<body>
  <h1>Breakfast Club</h1>
<label>You must fill in all inputs</label>
</body>

