{% if verb , adverb , adjective , noun %}
  <h1>Bronx Tale</h1>
  <br/>
  <br/>
 <div>
 Sonny and my {{noun}} always said that when I get 
 {{adjective}} I would understand. Well, I finally did. 
 I learned something from these two men. I learned 
 to give {{noun}} and get love {{adverb}}. You just 
 have to accept people for what they are, and I 
 learned the {{adjective}} gift of all. The {{adjective}} thing 
 in life is {{adjective}} talent, and the choices that you 
 make will shape your life {{adverb}}. But you can ask 
 anybody from my {{noun}}, and they'll just tell 
 you this is just another Bronx tale.
</div>
</body>
  
{% else %}
<body>
  <h1>Bronx Tale</h1>
<label>You must fill in all inputs</label>
  <form action="{{ url_for('handle_bronx_tale')}}" method="post">

<div class="label-and-input">
      <label class="label-tag" for="noun">Noun:</label>
      <label class="tooltip"
        >Definition: Nouns are often described as referring to persons, places,
        things, states, or qualities.</label
      >
      <input type="text" id="noun" name="noun" /><br /><br />
    </div>
    </form>
</body>

{% endif %}