<!DOCTYPE html>
<head>
  <title>Flask app</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/mainpage.css') }}"
  />
</head>
<title>Hello from Flask</title>
{% if name %}
<body>
  <h2>Welcome to</h2>
  <h1>MadLibs</h1>
  <h1>Hello {{ name }}!</h1>
  <h3>Select a MadLib Below</h3>
  <div class="button-container">
    <form action="{{ url_for('handle_bronx_tale') }}" method="post">
      <button name="bronxtale" type="submit">Bronx Tale</button>
    </form>
  </div>
</body>
{% else %}
<body>
  <h2>Welcome to</h2>
  <h1>MadLibs</h1>
  <form action="{{ url_for('handle_name_submit') }}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" /><br /><br />
    <input type="submit" value="Submit" />
  </form>
</body>
{% endif %}
