<!doctype html>
 <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainpage.css') }}">
  </head>
<title>Hello from Flask</title>
{% if name %}
<body>
  <h2>Welcome to</h2>
  <h1>MadLibs</h1>
  <h1>Hello {{ name }}!</h1>
  <form action="{{ url_for('handle_madlibs_data') }}" method="post">
  <label for="adjective1">Adjective:</label>
  <input type="text" id="adjective1" name="adjective1"><br><br>
  <label for="adjective2">Adjective:</label>
  <input type="text" id="adjective2" name="adjective2"><br><br>
  <label for="noun1">Noun:</label>
  <input type="text" id="noun1" name="noun1"><br><br>
  <label for="noun2">Noun:</label>
  <input type="text" id="noun2" name="noun2"><br><br>
  <label for="plunoun1">Plural Noun:</label>
  <input type="text" id="plunoun1" name="plunoun1"><br><br>
  <label for="game">Game:</label>
  <input type="text" id="game" name="game"><br><br>
  <label for="plunoun2">Plural noun:</label>
  <input type="text" id="plunoun2" name="plunoun2"><br><br>
  <label for="verbing1">Verb ending in 'ing':</label>
  <input type="text" id="verbing1" name="verbing1"><br><br>
  <label for="verbing2">Verb ending in 'ing':</label>
  <input type="text" id="verbing2" name="verbing2"><br><br>
  <label for="plunoun3">Plural noun:</label>
  <input type="text" id="plunoun3" name="plunoun3"><br><br>
  <label for="verbing3">Verb ending in 'ing':</label>
  <input type="text" id="verbing3" name="verbing3"><br><br>
  <label for="noun4">Noun:</label>
  <input type="text" id="noun4" name="noun4"><br><br>
  <label for="plant">Plant:</label>
  <input type="text" id="plant" name="plant"><br><br>
  <label for="bodypart">Body part:</label>
  <input type="text" id="bodypart" name="bodypart"><br><br>
  <label for="place">Place:</label>
  <input type="text" id="place" name="place"><br><br>
  <label for="verbing4">Verb ending in 'ing':</label>
  <input type="text" id="verbing4" name="verbing4"><br><br>
  <label for="adjective">Adjective:</label>
  <input type="text" id="adjective" name="adjective"><br><br>
  <label for="number">Number:</label>
  <input type="text" id="number" name="number"><br><br>
  <label for="plunoun4">Plural Noun:</label>
  <input type="text" id="plunoun4" name="plunoun4"><br><br>
</form>
</body>
{% else %}
<body>
  <h2>Welcome to</h2>
  <h1>MadLibs</h1>
<form action="{{ url_for('handle_name_submit') }}" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
{% endif %}