body {
    font-size: 15px;
    margin-bottom: 100px;
}

form div:nth-child(odd) {
    background: red;
    width: 50%;
}

form div:nth-child(even) {
    background: green;
    width: 50%;
}

label.tooltip {
    background-color: orange;
    padding: 15px;
    display: none;
    border-radius: 25px;
    position:absolute;
    float: right;
    left: 520px;
    width: 30%;
    margin-bottom: 15px;
}

div.label-wrapper {}

label.label-tag:hover+label.tooltip {
    display: block;
}

div.label-and-input {
    /* display: flex; */
    /* flex-direction: rowx; */
    margin: 15px;
    /* justify-content: space-between; */
}